#-*-Makefile-*- vim:syntax=make
#$Id: sensorbutton.target,v 1.2 2006/12/01 12:40:06 tinyossb Exp $

PLATFORM ?= sensorbutton

# add platform directory
PFLAGS += -I$(TOS_CONTRIB_PATH)/tos/platforms/$(PLATFORM)

#MSP_MCU = msp430x1611

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
OPTFLAGS += -O

MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --telosb

VOLUME_FILE = volumes-stm25p.xml
VOLUME_ALLOCATOR = tos-storage-stm25p


$(call TOSMake_include_platform,msp)

sensorbutton: $(BUILD_DEPS)


sensorbutton: $(BUILD_DEPS)

