#-*-Makefile-*- vim:syntax=make
#$Id: switchmodule.target 2007/11/30

PLATFORM ?= switchmodule

# add platform directory
PFLAGS += -I$(TOS_CONTRIB_PATH)/tos/platforms/$(PLATFORM)

#MSP_MCU = msp430x1611

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul -DSWITCHMODULE
OPTFLAGS += -O

# do not use bsl - we program with JTAG
#MSP_BSL ?= tos-bsl
#MSP_BSL_FLAGS = --telosb

VOLUME_FILE ?= volumes-stm25p.xml
VOLUME_ALLOCATOR ?= tos-storage-stm25p

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

$(call TOSMake_include_platform,msp)

switchmodule: $(BUILD_DEPS)
